<!DOCTYPE html>
<html>
<head>
    <title>Header with css style</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Main Menu</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- Resto del contenido de la página -->
    <h1 class="big_text">About us!</h1>
</body>
</html>