
header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
}


nav ul {
    list-style: none; 
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #ffcc00; 
}

.big_text{
    text-align: center;
    color: blue;

}